﻿@model Auction2.Models.BidUserModel


@{
    ViewBag.Title = "AddBid";
}

<h2>Add Bid</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(a => a.Nama, new { @class = "col-md-2 control-label" })
        @Html.Label(@Session["Nama"].ToString())
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.IdKTP, new { @class = "col-md-2 control-label" })
        @Html.Label(@Session["IdKTP"].ToString())
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Alamat, new { @class = "col-md-2 control-label" })
        @Html.Label(@Session["Alamat"].ToString())
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Pekerjaan, new { @class = "col-md-2 control-label" })
        @Html.Label(@Session["Pekerjaan"].ToString())
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.TanggalBid, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.TanggalBid, "{0:d}", new { @class = "form-control datepicker" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BatasBid, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(m => m.BatasBid, "{0:d}", new { @class = "form-control datepicker" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Harga, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.Harga,new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MerkId, new { @class = "col-md-2 control-label" })
        @Html.DropDownListFor(m => Model.MerkId, Model.Merks, new { @class = "btn btn-info btn-sm drodown-toggle" })
    </div>

    <br />
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-success btn-md margin-right " value="Create">
                <span class="glyphicon glyphicon-save"></span> Add Bid
            </button>
        </div>
    </div>

    <div>
        @*@Html.DisplayNameFor(m => m.Nama)
        @Html.Label(@Session["Nama"].ToString())*@
        @*@Session["Nama"].ToString()*@
        @*@Html.TextBoxFor(m=>m.Nama)*@
    </div>
    
    <div>
        @*@Html.DisplayNameFor(m => m.IdKTP)
        @Html.Label(@Session["IdKTP"].ToString())*@
        @*@Session["IdKTP"].ToString()*@
        @*@Html.TextBoxFor(m=>m.IdKTP)*@
    </div>
    
    <div>
        @*@Html.DisplayNameFor(m => m.Alamat)
        @Html.Label(@Session["Alamat"].ToString())*@
        @*@Session["Alamat"].ToString()*@
        @*@Html.TextBoxFor(m=>m.Alamat)*@
    </div>
    
    <div>
        @*@Html.DisplayNameFor(m => m.Pekerjaan)
        @Html.Label(@Session["Pekerjaan"].ToString())*@
        @*@Session["Pekerjaan"].ToString()*@
        @*@Html.TextBoxFor(m => m.Pekerjaan)*@
    </div>
   
    <div>
        @*@Html.DisplayNameFor(m => m.TanggalBid)
        @Html.TextBoxFor(m => m.TanggalBid, "{0:d}", new { @class = "form-control datepicker" })*@
    </div>

    <div>
        @*@Html.DisplayNameFor(m => m.BatasBid)
        @Html.DisplayFor(m => m.BatasBid, "{0:d}", new { @class = "form-control datepicker" })*@
    </div>
    
    <div>
        @*@Html.DisplayNameFor(m => m.Harga)
        @Html.TextBoxFor(m => m.Harga)*@
    </div>

    
}

@*@Html.TextBoxFor(m => m.MasaBerlaku, "{0:d}", new { @class = "form-control datepicker" })*@