﻿@model IEnumerable<Auction2.Models.CarModel>
@{
    Layout = null;
}

<div class="row list-group-item">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4 col-sm-6 mr-auto">
            <div class="card" style="width: 30rem;">
                <img class="img-rounded mx-auto card-img-top" alt="Card image cap"
                     src="~/images/@item.MerkImage" height="150" />
                <div class="card-block">
                    <h4 class="card-title">
                        <span>
                            <strong>@Html.DisplayFor(modelItem => item.Id) . @Html.DisplayNameFor(modelItem => modelItem.MerkName): </strong>
                            @Html.DisplayFor(modelItem => item.MerkName)
                        </span>
                    </h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(modelItem => modelItem.MasaBerlaku) : </strong>
                        <span class="hidden-xs">@item.MasaBerlaku.ToString("dd/MM/yyyy")</span>
                        <span class="hidden-sm hidden-md hidden-lg">@item.MasaBerlaku.ToString("dd/MM/yyyy")</span>
                        <strong>@Html.DisplayNameFor(modelItem => modelItem.Tahun) :</strong>
                        @Html.DisplayFor(modelItem => item.Tahun)
                        <br />
                        <strong>@Html.DisplayNameFor(modelItem => modelItem.NoPolisi) :</strong>
                        @Html.DisplayFor(modelItem => item.NoPolisi)
                        <br />
                        <strong>@Html.DisplayNameFor(modelItem => modelItem.Harga) :</strong>
                        Rp @Html.DisplayFor(modelItem => item.Harga)
                    </li>
                    @*<li class="list-group-item">
                            <strong>@Html.DisplayNameFor(modelItem => modelItem.Tahun) :</strong>
                            @Html.DisplayFor(modelItem => item.Tahun)
                            <br />
                            <strong>@Html.DisplayNameFor(modelItem => modelItem.NoPolisi) :</strong>
                            @Html.DisplayFor(modelItem => item.NoPolisi)
                        </li>*@
                    @*<li class="list-group-item">
                            <strong>@Html.DisplayNameFor(modelItem => modelItem.NoPolisi) :</strong>
                            @Html.DisplayFor(modelItem => item.NoPolisi)
                        </li>*@
                    @*<li class="list-group-item">
                            <strong>@Html.DisplayNameFor(modelItem => modelItem.Harga) :</strong>
                            Rp @Html.DisplayFor(modelItem => item.Harga)
                        </li>*@
                    <li class="list-group-item ">
                        <center>
                            @Html.ActionLink("Add Bid", "AddBid", new { id = item.Id }, new { @class = "btn btn-warning btn-sm margin-right" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-sm margin-right" })
                        </center>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>