﻿@model Auction2.Models.LoginUser
@{
    ViewBag.Title = "Home Page";
}

<br />
@using (Html.BeginForm())
{
<div class="container mx-auto">
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 list-group-item" style="background-color:darkcyan">
            <form>
                <br />
                <div class="form-group row">
                    <div class="col-sm-12">
                        <fieldset>
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @if (@ViewBag.Message != null)
                            {
                                <div style="border: 1px solid red">
                                    @ViewBag.Message
                                </div>
                            }

                            <div class="form-group row">
                                <div class="col-sm-12" >
                                    @Html.LabelFor(a => a.Nama, new { @class = "col-md-2 control-label"})
                                    @Html.TextBoxFor(a => a.Nama, new { @class = "form-control", placeholder = "Input Nama" })
                                    @Html.ValidationMessageFor(a => a.Nama)
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    @Html.LabelFor(a => a.Pswd, new { @class = "col-md-2 control-label" })
                                    @Html.PasswordFor(a => a.Pswd, new { @class = "form-control", placeholder = "Input Password" })
                                    @Html.ValidationMessageFor(a => a.Pswd)
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-success btn-md margin-right " value="Create">
                                        <span class="glyphicon glyphicon-log-in"></span> Login
                                    </button>
                                    <a href="@Url.Action("Register", "Home")"
                                       class="btn btn-warning navbar-btn">
                                        <span class="glyphicon glyphicon-save"></span> Create New Member
                                    </a>

                                    @* @Html.ActionLink("Create New Member", "Register", null, new { @class = "btn btn-warning btn-md" })*@
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </form>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        </div>

        <div class="col-md-3">
        </div>
    </div>
</div>

}







@*<script src="~/Scripts/head.js"></script>
    <link href="~/Content/head.css" rel="stylesheet" type="text/css" />*@

@*<div class="slideshow-container">
        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="~/images/3.jpg" style="width:100%">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="~/images/3.jpg" style="width:100%">
            <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="~/images/3.jpg" style="width:100%">
            <div class="text">Caption Three</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>*@

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

@*<a href="" class="btn btn-warning btn-lg" style="height:38px">
        <span class="glyphicon glyphicon-remove"></span> Cencel
    </a>*@
@*<div class="backbar">
    <div class="container">
        @Html.ActionLink("Create New Item Lelang", "Create", null, new { @class = "btn btn-default" })
    </div>
</div>*@
@*<table>
        <div class="form-group">
            <tr>
                <td>@Html.LabelFor(a => a.Nama)</td>
                <td>@Html.TextBoxFor(a => a.Nama)</td>
                <td>@Html.ValidationMessageFor(a => a.Nama)</td>
            </tr>
        </div>

        <tr>
            <td><br /></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Pswd) </td>
            <td>@Html.PasswordFor(a => a.Pswd)</td>
            <td>@Html.ValidationMessageFor(a => a.Pswd)</td>
        </tr>
        <tr>
            <td><br /></td>
        </tr>
    </table>*@

@*<div class="row">
        <div class="col-md-12">
            <div class="pad-top">

            </div>
        </div>
    </div>*@