﻿@model IEnumerable<Auction2.Models.CarModel>
@{
    Layout = null;
}

<h2>Daftar Lelang Mobil  </h2>
<table class="table table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(modelItem => modelItem.Id)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.MerkName)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.MasaBerlaku)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.Tahun)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.NoPolisi)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.Harga)</th>
            <th>Gambar</th>
            <th>Keterangan</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.MerkName)</td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.MasaBerlaku)*@
                    <span class="hidden-xs">@item.MasaBerlaku.ToString("dd/MM/yyyy")</span>
                    <span class="hidden-sm hidden-md hidden-lg">@item.MasaBerlaku.ToString("dd/MM/yyyy")</span>
                </td>
                <td>@Html.DisplayFor(modelItem => item.Tahun)</td>
                <td>@Html.DisplayFor(modelItem => item.NoPolisi)</td>
                <td>Rp @Html.DisplayFor(modelItem => item.Harga)</td>
                <td><img src="~/images/@item.MerkImage" width="100" height="100" /></td>
                <td>
                    @Html.ActionLink("Add Bid", "AddBid", new { id = item.Id }, new { @class = "btn btn-warning btn-sm margin-right" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-sm margin-right" })
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm margin-right" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-warning btn-sm margin-right" })*@
                </td>
            </tr>
        }
    </tbody>
</table>




